@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AWS ECS Windows Container Sample</h1>
    <p class="lead">This is an ASP.NET 4.6 application that is going to be migrated to AWS ECS using Windows Container sample</p>
    
</div>

